Алексендра Рыбальченко <s.ffisherry@gmail.com>
Александр Крашенин <krashenin2005@mail.ru>
Денис Ходырев <drudf2@mail.ru>
Евгений Блинов <02112001yip@mail.ru>
Егор Власов <egovlamax@mail.ru>
Леонид Россомахин <50291694+Rossoket@users.noreply.github.com>
Матвей Терехин <wasisdas17@gmail.com>
Михаил Рояк <mikeroyak@gmail.com>
Ольга Гуренкова <o.gurenkova2k5@gmail.com>
Павел Переверзев <esamap2@mail.ru>
Федор Хрящев <70633097+stald10@users.noreply.github.com>
Ярослав Лебедь <lebed.yaroslav.edu@gmail.com>
Ярослав Лебедь <creray.dev@gmail.com>
